<!DOCTYPE html>
<html>
<head>
	<title>Success!</title>
</head>
<body>
	<!-- All the files that are required -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<div id="p2" align="right"><a href={{ url_for ('login') }}> Log In</a></div>
	 </div>
	
    <h1>Success!</h1>

    You have successfully Sign In.
    please log in to have acces to your page ! .

</body>
</html>