.site-header{
	background-color:grey;

}
#p1{
    display: inline;
    float: left;
    font-style: italic;

        }
#p2{
    display: inline;
      margin: 5px;
    float: right;
        }
.site-bottom{
	position: fixed;
	bottom: 20px;
	left: 40%;
	display: inline-block;
	max-width: 100%;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;

}
.article{
 	background: #cbd5db;
 	position: fixed;
 	top: 25%;
 	left:10%;
 	right: 10%;
  	padding: 10px 20px;
  	border: 1px solid #dddddd;
  	border-radius: 3px;
	margin-bottom: 20px;
	width: auto;
  	height: 60%;
 	vertical-align: middle;
}